<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.witcher.thewitcherrpg">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name="com.witcher.thewitcherrpg.TheWitcherTRPGApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WitcherDD"
        tools:node="merge">
        <activity
            android:name="com.witcher.thewitcherrpg.feature_custom_attributes.presentation.CustomAttributeActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_attribute"
            android:theme="@style/Theme.WitcherDD" />
        <activity
            android:name="com.witcher.thewitcherrpg.about_section.AboutActivity"
            android:exported="false"
            android:label="About Application"
            android:parentActivityName="com.witcher.thewitcherrpg.feature_character_list.presentation.LauncherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.witcher.thewitcherrpg.feature_character_creation.presentation.CharCreationActivity"
            android:exported="true"
            android:label="Create Character"
            android:parentActivityName="com.witcher.thewitcherrpg.feature_character_list.presentation.LauncherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:node="merge" />
        <activity
            android:name="com.witcher.thewitcherrpg.feature_character_sheet.presentation.MainActivity"
            android:exported="true"
            android:label="Character Sheet"
            android:parentActivityName="com.witcher.thewitcherrpg.feature_character_list.presentation.LauncherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:node="merge" />
        <activity
            android:name="com.witcher.thewitcherrpg.feature_character_list.presentation.LauncherActivity"
            android:exported="true"
            android:label="The Witcher TRPG"
            android:screenOrientation="portrait"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.wch"
                    android:scheme="file" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.wch"
                    android:scheme="content" />
                <!-- <data android:host="*"/> -->
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.witcher.thewitcherrpg"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>