<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thewitcherrpg">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE">

    </uses-permission>

    <application
        android:name=".TheWitcherTRPGApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WitcherDD"
        tools:node="merge">
        <activity
            android:name=".feature_character_creation.presentation.CharCreationActivity"
            android:exported="true"
            android:parentActivityName=".feature_character_list.presentation.LauncherActivity"
            android:windowSoftInputMode="adjustNothing"
            tools:node="merge"
            android:label="Create Character"/>
        <activity
            android:name=".feature_character_sheet.presentation.MainActivity"
            android:exported="true"
            android:label="Character Sheet"
            android:parentActivityName=".feature_character_list.presentation.LauncherActivity"
            android:windowSoftInputMode="adjustResize"
            tools:node="merge"
            />
        <activity
            android:name=".feature_character_list.presentation.LauncherActivity"
            android:exported="true"
            tools:node="merge"
            android:label="The Witcher TRPG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>